fastapi
uvicorn
llama-parse>=0.4.0
python-dotenv
pydantic>=2.7.0
pydantic-settings
python-multipart
psycopg2-binary
sqlalchemy
langchain
langchain-openai
langchain_google_genai
langchain-postgres
langchain-community
langchain-text-splitters
asyncpg
greenlet
neo4j